@include media {
  .header {
    background: none;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2em;

    &__one {
      .hamburger {
        display: none;
      }
    }

    &__two {
      width: 100%;
      display: block;
      min-height: 0;
      margin: 0;
      padding: 0;
      background: none;

      a {
        color: $GrayishViolet;
        font-size: 1rem;
        &:hover {
          color: $DarkViolet;
        }
      }
      img {
        display: none;
      }
      .list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .item {
        padding: 0;
      }
      .btn {
        padding: 0.5em 2em;
        border: 2px solid $DarkViolet;
        color: $DarkViolet;
        &:hover {
          color: $LightGray;
          background: $DarkViolet;
        }
      }
    }
  }

  section {
    background: $Darkxiolet;
    padding: 6em 0;
  }
  .hero {
    position: relative;
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;

    &__img {
      position: absolute;
      max-width: 50%;
      top: 50px;
      right: 50px;
    }

    &__content {
      text-align: left;
      margin-left: 2em;

      span {
        display: inline-block;
        width: 200px;
        height: 1px;
        background: $LightGray;
        margin-bottom: 4em;
      }
      .heading {
        font-size: 4rem;
        font-weight: 400;
      }
      .paragraph {
        width: 45%;
      }

      .btn {
        padding: 0.25em 2em;
      }
    }
  }

  .process {
    text-align: left;
    .heading {
      font-size: 4rem;
    }
    &__content {
      display: flex;
      justify-content: space-between;

      .contents + .contents {
        margin-left: 2em;
      }

      .contents {
        img {
          margin: 0;
        }
      }
    }
  }

  .subfooter {
    display: flex;
    justify-content: space-around;
    align-items: center;

    h1 {
      font-size: 3.5rem;
      text-align: left;
      margin: 0;
    }
  }

  .footer {
    &__content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      .logo {
        width: 100%;
        img {
          margin: 2em 0;
        }
      }
      .social {
        width: 100%;
        margin: 2em 0;
        justify-content: flex-end;
        img + img {
          margin-left: 1em;
        }
      }
    }

    &__content1 {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;

      .text + .text {
        margin-left: 2em;
      }
      .text {
        width: 100%;
      }
    }
  }

  .flex-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .form-container {
    width: 50%;
  }
  .form-header {
    font-size: 1.5rem;
  }
}
