.flex-form {
  background: $Darkxiolet;
}

.form-container {
  font-family: "Karla", sans-serif;
  margin: 0 1em;
}

.form-header {
  text-align: center;
  color: $LightGray;
}
label {
  text-transform: capitalize;
  color: $LightGray;
}
.mmm {
  color: $LightGray;
  font-size: 12px;
}
.form-control {
  padding-bottom: 1em;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
  color: aqua;

  input {
    display: block;
    width: 100%;
    padding: 0.75em 0;
    border: none;
    border-bottom: 2px solid $Darkxiolet;
    border-color: $Darkxiolet;
    background: lighten($GrayishViolet, 50%);

    outline: 0;
    color: $Darkxiolet;
    font-weight: bold;
    font-family: "Karla", sans-serif;
    &::placeholder {
      text-transform: capitalize;
      color: $GrayishViolet;
      font-family: "Karla", sans-serif;
    }
    &:focus {
      border-bottom: 2px solid blue;
    }
  }
}

button {
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 0.25em 2em;
  width: 100%;
  text-decoration: none;
  color: $LightGray;
  background: $GrayishBlue;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Karla", sans-serif;
  transition: all 250ms ease-in-out;

  &:hover {
    color: $GrayishViolet;
  }
}
